[submodule "handson-ml"]
	path = handson-ml
	url = https://github.com/ageron/handson-ml.git
[submodule "resources/handson-ml"]
	path = resources/handson-ml
	url = https://github.com/ageron/handson-ml.git
[submodule "resources/lihang"]
	path = resources/lihang
	url = https://github.com/fengdu78/lihang-code.git
[submodule "resources/nlp-tf"]
	path = resources/nlp-tf
	url = https://github.com/PacktPublishing/Natural-Language-Processing-with-Tensorflow
[submodule "resources/dl-python"]
	path = resources/dl-python
	url = https://github.com/fchollet/deep-learning-with-python-notebooks.git
[submodule "resources/nlp-pytorch"]
	path = resources/nlp-pytorch
	url = https://github.com/joosthub/PyTorchNLPBook.git
[submodule "resources/ml_cn"]
	path = resources/ml_cn
	url = https://github.com/manji1992/ml_cn_book_code.git
[submodule "resources/d2l_pytorch"]
	path = resources/d2l_pytorch
	url = https://github.com/ShusenTang/Dive-into-DL-PyTorch.git
[submodule "resources/ml-python"]
	path = resources/ml-python
	url = https://github.com/susanli2016/Machine-Learning-with-Python.git
[submodule "resources/pml3ed"]
	path = resources/pml3ed
	url = https://github.com/rasbt/python-machine-learning-book-3rd-edition.git
[submodule "resources/introduction_to_ml_with_python"]
	path = resources/introduction_to_ml_with_python
	url = https://github.com/amueller/introduction_to_ml_with_python.git
